Repository Aycandoo/aycandoo.fr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: update eslint config
  .eslintrc.json
Due: none

fix: fix eslint errors in front project
  src/data/contact-data.ts
  src/hooks/use-validation.ts
  src/pages/contact.tsx
  src/pages/home.tsx
  src/shared/error-container.tsx
  src/shared/offering.tsx
  src/shared/offerings-list.tsx
  src/shared/team.tsx
  src/shared/teammate.tsx
  src/structure/footer.tsx
  src/structure/header.tsx
  src/structure/layout.tsx
  src/structure/section.tsx
  src/structure/seo.tsx
Due: prettier --write, eslint --fix

fix: fix eslint errors in api project
  server/src/app.ts
  server/src/contact-forms-controller.ts
  server/src/services/email-service.ts
  server/src/services/recaptcha-service.ts
  server/src/utils/to-capitalize.ts
Due: prettier --write, eslint --fix

doc: update global readme
  README.md
Due: none

doc: add specific readme for backend api
  server/README.md
Due: none

refactor: handle new ENABLE_EMAILS env. variable in api
  server/src/contact-forms-controller.ts
Due: prettier --write, eslint --fix

chore: update backend start script to handle default env. variables
  server/package.json
Due: none

fix: fix some dependencies with npm audit
  package-lock.json
Due: none

fix: fix some dependencies with npm audit (backend)
  server/package-lock.json
Due: none

feat: add linkedin link to team profiles
  src/images/linkedin-logo.png
  src/shared/team.tsx
  src/shared/teammate.tsx
Due: prettier --write, eslint --fix

refactor: update team part texts and styles
  src/shared/team.tsx
  src/shared/teammate.tsx
Due: prettier --write, eslint --fix

refactor: update home main description
  src/pages/home.tsx
Due: prettier --write, eslint --fix

refactor: update wording
  src/pages/home.tsx
Due: prettier --write, eslint --fix

fix: fix aycandoo typo
  README.md
  gatsby-config.ts
  server/README.md
  server/src/app.ts
  src/pages/home.tsx
  src/structure/footer.tsx
Due: prettier --write, eslint --fix

refactor: update wording
  .idea/.gitignore
  .idea/aycandoo.fr.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  src/pages/home.tsx
  src/shared/team.tsx
Due: prettier --write, eslint --fix

chore: fix merge conflict
  src/pages/home.tsx
  src/shared/team.tsx
Due: prettier --write, eslint --fix

fix: remove unwanted .idea files
  .idea/.gitignore
  .idea/aycandoo.fr.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
Due: none

chore: update gitignore
  .gitignore
Due: none

refactor: update home page wording
  src/pages/home.tsx
Due: prettier --write, eslint --fix

chore: bump all versions to v1.2.0 (front app and api)
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
Due: none

fix: fix wording on home page
  src/pages/home.tsx
Due: prettier --write, eslint --fix

chore: bump front version to v1.2.1
  package-lock.json
  package.json
Due: none

refactor: update inter-var font-family import
  src/structure/seo.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix

fix: add 'fr' as default html tag lang
  src/structure/seo.tsx
Due: prettier --write, eslint --fix

fix: fix wrong label for contact form textarea
  src/pages/contact.tsx
Due: prettier --write, eslint --fix

refactor: remove recaptchaErrorProps since it adds wrong aria props
  src/pages/contact.tsx
Due: prettier --write, eslint --fix

chore: bump front version to v1.2.2
  package-lock.json
  package.json
Due: none

feat: update seo component to include description meta tag
  src/structure/seo.tsx
Due: prettier --write, eslint --fix

feat: add description meta on home page
  src/pages/index.tsx
Due: prettier --write, eslint --fix

feat: add description meta on contact page
  src/pages/contact.tsx
Due: prettier --write, eslint --fix

chore: bump front version to v1.2.3
  package-lock.json
  package.json
Due: none

refactor: move color-primary class to global css file
  src/pages/home.css
  src/styles/global.css
Due: prettier --write

fix: fix section component to avoid rendering empty headings in DOM
  src/structure/section.tsx
Due: prettier --write, eslint --fix

feat: add 404 not-found page
  src/images/404.jpg
  src/pages/404.tsx
Due: prettier --write, eslint --fix

chore: bump front version to v1.3.0
  package-lock.json
  package.json
Due: none

refactor: update not-found page
  src/pages/404.tsx
Due: prettier --write, eslint --fix

refactor: update css files to scss
  src/pages/home.scss
  src/pages/home.tsx
  src/shared/error-container.scss
  src/shared/error-container.tsx
  src/structure/layout.scss
  src/structure/layout.tsx
Due: prettier --write, eslint --fix

feat: add primary color and color-primary class in global styles
  src/styles/colors.scss
  src/styles/global.scss
Due: none

chore: update @headlessui/react
  package-lock.json
  package.json
Due: none

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.tsx)) or (any of: *.css)
  eslint --fix: (any of: *.ts) or (any of: *.tsx)
